body {
    color: black;
    background-color: floralwhite;
    font-family: Garamond, Didot, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid brown;
    padding: 0.5em;
}

header {
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
/*    border: 1px solid brown;*/
    background-color: wheat;
}

div.nav { /*block elements*/
    width: 30%;
/*    border: 2px dotted black;*/
    text-align: center;
    font-size: 2.5vw;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif !important;
}

div.nav a {
    text-decoration: none !important;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif !important;

}

a {
    font-family: Garamond, Didot, Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.1em;
}

div#info {
    text-align: right;
}

div#address {
    font-size: 1.2em;
}

span#addresstext {
    display:table;
    text-align:right;
}

table.experience {
    width: 100%;
}

td.position {
    width: 30%;
}

td.location {
    width: 40%;
    text-align: center;
}

td.date {
    width: 30%;
    text-align: right;
}

p.resdesc {
    margin-left: 1%;
}

h1, h2 {
    color: darkred;
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

h2 {
    width: fit-content;
    font-weight: 500;
}

ul {
    list-style-type: circle;
}

ul li {
    margin-bottom: 0.4em;
    line-height: 1.3;
}

ol li {
    margin-bottom: 0.8em;
    line-height: 1.3;
}

img#publication { /*id selector on img tag for publication*/
    vertical-align: middle;
    width: 10%;
}

img#publication:hover { /*pseudo-class selector on an id selector*/
    width:auto;
}

img#jce1994 { /* floats the img with the id jce1994 to the right with a margin*/
    float: right;
    margin: 1em;
}

ol li.float { /* float specified list elements */
    float: left;
    width: 20%; /*need to specify width when floating text content*/
    background-color: lavender;
    margin-right: 2em;
    padding: 0.3em;
}

.courses {
    display: flex;
    /*    flex-direction: column;*/
    flex-wrap: wrap;
    /*  width: 80%;*/
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid black;*/
}

.course {
    width: 20%;
    margin-right: 4%;
    margin-bottom: 0.8em;
    /* border: 2px dotted black;*/
    vertical-align: middle;
}

.course#title {
    width: 100%;
    text-align: center;
}